.home {
    min-height: 100vh;
    margin: 100px 0;
    .css-1qsxih2,
    .css-1oqqzyl-MuiContainer-root {
        position: relative !important;
    }
    .logout-button {
        margin-bottom: 20px;
        margin-left: auto;
        position: absolute;
        right: 25px;
        top: -80px;
    }
}
