@import "../abstract/mixins";
:root {
    font-size: 16px;
    @include respond(custom-media, 0, 576px) {
        font-size: 12px;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $main-font !important;
    font-size: $default-font-size !important;
    min-height: 100vh;
    color: $primary-color;
    background-color: #1e1e1e;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        width: 0.4rem;
    }
    &::-webkit-scrollbar-thumb {
        background: darken($primary-color, 10%);
        border-radius: 20px;
    }
}

ul {
    list-style: none;
}

p {
    line-height: 1.6;
}

a {
    text-decoration: none !important;
    color: inherit;
    &:hover,
    &:active,
    &:focus {
        color: inherit;
    }
}
.flex {
    display: flex;
}
.container {
    max-width: 90%;
    margin: auto;
    overflow-x: scroll;
    padding: 5px;

    &::-webkit-scrollbar {
        width: 0.4rem;
        height: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background: darken($primary-color, 10%);
        border-radius: 20px;
    }
}

button,
input,
textarea {
    font-size: $default-font-size;
    border: none;
}

input,
select,
textarea {
    font-family: inherit;
    width: 100%;
}
.no-padd {
    padding: 0 !important;
}
.no-margin {
    margin: 0 !important;
}
.margin-auto {
    margin: auto !important;
}
button:not(:disabled),
select,
input[type="submit"],
input[type="date"],
input[type="color"] {
    cursor: pointer;
}

input,
textarea {
    color: inherit;
    &::-webkit-input-placeholder {
        font: 500 smaller sans-serif;
        text-transform: capitalize;
        color: inherit;
        transition: opacity 0.3s;
    }
    &:focus::-webkit-input-placeholder {
        opacity: 0;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        color: $primary-color !important;
        // box-shadow: 0 0 0 5rem white inset !important;
    }
}

input {
    &[type="number"] {
        appearance: none;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            margin: 0;
            appearance: none;
        }
    }
    &[type="color"] {
        appearance: none;
        &::-webkit-color-swatch {
            border: none;
        }
    }
}
button:disabled {
    cursor: auto;
}

button:focus,
:focus {
    outline: none !important;
    box-shadow: none !important;
}

.clickable {
    cursor: pointer;
}

.primary-color {
    color: $primary-color;
}

html,
body {
    height: 100%;
}
.pure-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}
.submit-button {
    display: block;
    // margin: auto;
    background-color: #10489b;
    color: #fff;
    // width: 100%;
    min-width: 150px;
    height: 38px;
    border-radius: 5px;
    padding: 3px;
    transition: ease-in-out 0.4s;
    border: 1px solid #10489b;
    &:hover {
        background-color: #fff;
        color: #10489b;
        transition: ease-in-out 0.4s;
    }
}
.MuiOutlinedInput-notchedOutline,
.css-igs3ac {
    border-color: rgb(255 255 255 / 87%) !important;
}
.css-1hof3tc {
    color: rgb(255 255 255 / 87%) !important;
}

.MuiCircularProgress-root,
.MuiCircularProgress-indeterminate,
.MuiCircularProgress-colorInherit,
.css-62e83j-MuiCircularProgress-root {
    width: 30px !important;
    height: 30px !important;
}

@include respond(small-laptop) {
    .submit-button {
        font-size: 14px;
    }
}
